<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
<!--        &lt;!&ndash; YourKIT &ndash;&gt;-->
<!--        <Socket name="socket"-->
<!--                host="${sys:logstash.host.name:-localhost}"-->
<!--                port="${sys:logstash.port.number:-9999}"-->
<!--                reconnectionDelayMillis="5000">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Socket>-->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="socket"/>-->
        </Root>
    </Loggers>
</Configuration>